{% extends 'base.html' %}
{% load news_tags %}


{% block title %}
{{ title }}
{% endblock title %}


{% block main %}
  <!--  Start Category-->
    <div class="mb-5 d-flex justify-content-around">
      {% all_categories as categories %}
    {% for category in categories %}
    <div>
        <a href="{% url 'posts_by_category' category.pk %}" class="btn btn-outline-primary btn-rounded" data-mdb-ripple-init  data-mdb-ripple-color="dark">
        {{ category.name }}
      </a>
    </div>
    {% endfor %}
      </div>
    <!--  End Category-->

  <!--  Start Posts-->
      <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for post in posts %}
          <div class="col my_col">
      <div class="card h-100">
        <a href="{% url 'post_detail' post.pk %}">
          {% if post.photo %}
        <img src="{{ post.photo.url }}" class="card-img-top" alt="Palm Springs Road"/>
          {% else %}
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/>
          {% endif %}
          </a>
        <div class="card-body">
          <a href="{% url 'post_detail' post.pk %}">
          <h5 class="card-title">{{ post.title }}</h5>
          </a>
          <p class="card-text">
            {{ post.content|truncatewords:10 }}
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <small class="text-muted">{{ post.created|date:"D d F Y" }} {{ post.created|time:"H:i" }}</small>
          <small class="text-muted">{{ post.views }}</small>
          <small class="text-muted">
            <a href="{% url 'posts_by_category' post.category.pk %}">{{ post.category.name }}</a>
          </small>
        </div>
      </div>
    </div>
          {% endfor %}
  </div>
    <!--  End Posts-->
{% endblock main %}